<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity Name="152f7a2a-83b2-4047-9132-54c3e2900c0a" Publisher="CN=likasem" Version="1.0.0.0" />
  <mp:PhoneIdentity PhoneProductId="152f7a2a-83b2-4047-9132-54c3e2900c0a" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>UWPWeather</DisplayName>
    <PublisherDisplayName>likasem</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="UWPWeather.App">
      <uap:VisualElements DisplayName="UWPWeather" Square150x150Logo="Assets\Weather\02d.png" Square44x44Logo="Assets\Weather\02d.png" Description="UWPWeather" BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Weather\02d.png">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo" />
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\splash.png" />
      </uap:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <DeviceCapability Name="location" />
  </Capabilities>
</Package>